<h1>View Your Answers</h1>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<%= javascript_include_tag "window_close_event" %>
<%= javascript_include_tag "copy_disabled" %>
<p>
  <div class="question"><b>1.How information about the user's locale can be accessed?</b></div><br>
  <%= @question.q1 %>
</p>

<p>
  <div class="question"><b>2.What are the advantages of the code-behind feature?</b></div><br>
  <%= @question.q2 %>
</p>
<p>
  <div class="question"><b>3.Why do you use the App_Code folder in ASP.NET?</b></div><br>
  <%= @question.q3 %>
</p>
<p>
  <div class="question"><b>4.What is IIS? Why is it used?</b></div><br>
  <%= @question.q4 %>
</p>
<p>
  <div class="question"><b>5.What is tracing? Where is it used?</b></div><br>
  <%= @question.q5 %>
</p>
<p>
  <div class="question"><b>6.What is the difference between authentication and authorization?</b></div><br>
  <%= @question.q6 %>
</p>
<p>
  <div class="question"><b>7.What is ViewState?</b></div><br>
  <%= @question.q7 %>
</p>
<p>
  <div class="question"><b>8.Which method has been introduced in ASP.NET 4.0 to redirect a page permanently?</b></div><br>
  <%= @question.q8 %>
</p>
<p>
  <div class="question"><b>9.What is the difference between the Response.Write() and Response.Output.Write() methods?</b></div><br>
  <%= @question.q9 %>
</p>
<p>
  <div class="question"><b>10.How can you implement the postback property of an ASP.NET control?</b></div><br>
  <%= @question.q10 %>
</p>
<p>
  <div class="question"><b>11.Explain login controls?</b></div><br>
  <%= @question.q11 %>
</p>

<p>
  <div class="question"><b>12.What are the event handlers that can be included in the Global.asax file?</b></div><br>
  <%= @question.q12 %>
</p>
<p>
  <div class="question"><b>13.Make a list of all templates of the Repeater control?</b></div><br>
  <%= @question.q13 %>
</p>
<p>
  <div class="question"><b>14.Describe the complete lifecycle of a Web page?</b></div><br>
  <%= @question.q14 %>
</p>
<p>
  <div class="question"><b>15.What is a Cookie? Where is it used in ASP.NET?</b></div><br>
  <%= @question.q15 %>
</p>
<p>
  <div class="question"><b>16.What is State Management? How many ways are there to maintain a state in .NET?</b></div><br>
  <%= @question.q16 %>
</p>
<p>
  <div class="question"><b>17.What do you understand by aggregate dependency?</b></div><br>
  <%= @question.q17 %>
</p>
<p>
  <div class="question"><b>18.What are the major built-in objects in ASP.NET?</b></div><br>
  <%= @question.q18 %>
</p>
<p>
  <div class="question"><b>19.What is the appSettings Section in the web.config file?</b></div><br>
  <%= @question.q19 %>
</p>
<p>
  <div class="question"><b>20.What is Role-based security?</b></div><br>
  <%= @question.q20 %>
</p>
<p>
  <div class="question"><b>21.Explain the validation controls. How many validation controls in ASP.NET 4.0?</b></div><br>
  <%= @question.q21 %>
</p>
<p>
  <div class="question"><b>22.How many types of Cookies are available in ASP.NET?</b></div><br>
  <%= @question.q22 %>
</p>
<p>
  <div class="question"><b>23.What is the use of the <sessionState> tag in the web.config file?</b></div><br>
  <%= @question.q23 %>
</p>
<p>
  <div class="question"><b>24.What events are fired when a page loads?</b></div><br>
  <%= @question.q24 %>
</p>
<p>
  <div class="question"><b>25.Write three common properties of all validation controls?</b></div><br>
  <%= @question.q25 %>
</p>
